/* @group Landing Page */

#productInformation #contentSectionA,
#productInformation #footerSectionA {
	width: 452px;
	overflow: hidden;
	margin-bottom: 2px;
	padding: 0 428px 0 20px;
	margin-top: 0;
	float: left;
	background: url(productInformation-lifestylePhoto1.jpg) no-repeat 492px 20px;
}

#productInformation #footerSectionA {
	
}

#productInformation #mainContent {
	position: relative;
}

#productInformation #mainText {
	width: 332px;
	margin-left: 120px;
	padding-right: 20px;
}

#productInformation #contentSectionA img {
	display: inline;
	position: absolute;
	padding: 0;
	margin: 0;
	clear: none;
	float: left;
}

html>body #productInformation #contentSectionA img {
	position: static;
}

#productInformation #contentSectionA ul.jumpMenu {
	width: 352px;
	float: right;
	display: inline;
	margin-right: -20px;
}

#productInformation #contentSectionB {
	padding: 0;
	display: inline;
	margin-bottom: 1px;	
	background-color: #cc0000;
	width: 880px;
	z-index: 9;
	float: left;
}

#productInformation #contentSectionB img.lifestyle {
	position: absolute;
	z-index: 8;
	top: 20px;
	right: 20px;
}

#productInformation #contentSectionB img.product {
	float: left;
	position: absolute;
	margin-top: -160px;
	margin-left: 14px;
}

#productInformation #contentSectionB p {
	margin: 0;
	padding: 0;
}

#productInformation #contentSectionB p.wirelessSetup {
	float: right;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 50px;
}

#productInformation #contentSectionB h3.safetyConfidenceStyle {
	position: absolute;
	float: left;
	background-image: url(productInformation-subheader.gif);
	height: 0;
	width: 234px;
	padding-top: 22px;
	overflow: hidden;
	margin: 70px 0 0 215px;
}

#contentSectionB img {
	float: left;
	margin: 0;
}

/* @group Footer */

#footer {
	padding: 2px 0 0;
	float: left;
	width: 880px;
	background-image: url(footer.png);
	margin-left: 0;
	margin-right: 20px;
	border-style: none;
	display: inline;
	margin-top: 0;
}

#footer h3 {
	font-size: 11px;
	margin-top: 0;
	color: #cc0000;
	margin-bottom: 7px;
	letter-spacing: 1px;
	font-weight: bold;
}

#footer p {
	font-size: 11px;
	padding-top: 0;
	padding-bottom: 7px;
	margin: 0;
}

#productInformation #footerSectionA {
	width: 452px;
	background: url(../base/rampGray.gif) repeat-x;
	padding: 15px 10px 0 30px;
}

#footerSectionA p {
	width: 387px;
	float: right;
}

#footerSectionA img {
	float: left;
	margin-right: 10px;
	margin-bottom: 0;
}

#footerSectionA p img {
	clear: left;
	float: left;
	margin-top: 10px;
	display: inline;
	margin-left: 40px;
}

#footerSectionB {
	float: right;
	width: 370px;
	padding-top: 15px;
}

#footerSectionB img {
	margin-left: 20px;
	float: right;
	margin-bottom: 0;
	margin-top: 10px;
}



/* @end */

#productInformation #mainText {

}

/* @end */

/* @group Product Gallery */

#productGallery #mainContent {
	padding-left: 20px;
	width: 880px;
}

#productGallery #contentSectionA {
	background: url(productGalleryShadows.png) repeat-x;
	width: 816px;
	display: block;
	padding: 20px 22px 0;
	margin: 0;
	float: left;
}

#productGalleryList {
	width: 816px;
	padding: 0;
	display: inline;
	margin: 0;
	list-style-type: none;
}

#productGalleryList li {
	text-align: center;
	margin: 0;
	padding: 0;
	height: 221px;
	position: static;
	float: left;
	list-style-type: none;
}

#productGalleryList li a {
	height: 195px;
	border-bottom: 6px solid white;
	padding-bottom: 19px;
	float: left;
}

#productGalleryList li a:hover,
#productGalleryList li a.hover {
	border-bottom: 6px solid #cc0000;
}

#productGalleryList li a img {
	margin-bottom: 0;
	float: none;
	position: static;
}

#productGalleryList li#fireExtuinguisher-sideview {
	padding-right: 45px;
	padding-left: 45px;
}

#productGalleryList li#fireExtuinguisher-topview {
	padding-right: 15px;
	padding-left: 15px;
}

#productGalleryList li#smokeAlarm-topview {
	padding-right: 45px;
	padding-left: 45px;
}

#productGalleryList li#smokeAlarm-sideview {
	padding-right: 10px;
	padding-left: 10px;
}

#productGallery #contentSectionB {
	width: 860px;
	padding-left: 0;
	margin-left: 0;
	float: left;
	padding-top: 20px;
}

#productDescriptions {
	width: 860px;
	margin: 0;
	padding: 0;
	height: 150px;
	min-height: 150px;
}

html>body #productDescriptions {
	height: 150px;
}

#productDescriptions dt {
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	letter-spacing: 1px;
	margin-bottom: 5px;
	display: none;
	background-color: white;
}

#productDescriptions dd {
	font-size: 11px;
	line-height: 16px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 5px;
	margin-left: 0;
	padding-left: 0;
	display: none;
	background-color: white;
}



/* @end */

/* @group Product Details */

.productDetails h2,
.productDetails h3.subHeader
 {
	width: 700px;
}

.productDetails #mainContent {
	padding-left: 20px;
	padding-bottom: 50px;
	width: 860px;
	padding-right: 20px;
	margin: 0;
}

.productDetails #contentSectionA object#illustration {
	width: 360px;
	overflow: hidden;
}

.productDetails #contentSectionA {
	padding-left: 0;
	padding-bottom: 19px;
	width: 360px;
	float: left;
	clear: left;
}

.productDetails #contentSectionA p {
	text-align: center;
	padding-top: 10px;
	width: 360px;
}

.productDetails #contentSectionB {
	float: right;
	width: 480px;
	padding: 0;
	margin: 0;
	display: inline;
}

.productDetails #productGalleryList {
	width: 440px;
	padding: 7px 20px;
	display: inline;
	margin: 0;
	float: left;
	background: url(productGalleryShadows-mini.png) repeat-x;
	height: auto;
	list-style-type: none;
}

.productDetails #productGalleryList li {
	text-align: center;
	margin: 0;
	padding: 0;
	position: static;
	float: left;
	height: auto;
	display: inline;
	list-style-type: none;
}

.productDetails #productGalleryList li a {
	border-bottom: 6px solid white;
	float: left;
	height: 91px;
	margin: 0;
	padding: 6px 0 12px;
	display: inline;
}

.productDetails #productGalleryList li#smokeAlarm a {
	width: 208px;
}

.productDetails #productGalleryList li.active a {
	border-bottom: 6px solid #cc0000;
}

.productDetails #productGalleryList li.active a:hover {
	border-bottom: 6px solid #cc0000;
	cursor: default;
}

.productDetails #productGalleryList li a:hover,
.productDetails #productGalleryList li a.hover {
	border-bottom: 6px solid #d2d2d2;
}

.productDetails #productGalleryList li a img {
	margin-bottom: 0;
	float: left;
	position: static;
}

.productDetails #mainText {
	margin-top: 20px;
	float: left;
	padding-bottom: 30px;
}

.productDetails #mainText ul {
	margin-top: 20px;
	float: left;	
	font-size: 11px;
	color: #666666;
	line-height: 18px;
	margin-top: 0;
	margin-bottom: 20px;
	list-style-type: disc;
	padding-left: 15px;
	margin-left: 0;
}

.productDetails #footer {
	background-color: #cc0000;
	width: 900px;
	padding: 0 0 20px;
	border-style: none;
	overflow: hidden;
	margin: 0 0 0 -20px;
}

.productDetails #footerSectionA,
.productDetails #footerSectionB,
.productDetails #footerSectionC {
	float: left;
	width: auto;
	margin: 0 2px 0 0;
	padding: 0;
	background-image: none;
}

.productDetails #footerSectionC {
	margin-right: 0;
}

.productDetails #footer img {
	float: left;
	clear: left;
	padding: 0;
	margin: 0;
}

.productDetails #footer img.lifestyle {
	margin-bottom: 20px;
}

.productDetails #footer img#ulListed {
	clear: none;
	margin-left: 44px;
}

.productDetails span#illustrationSection {
	position: relative;
	z-index: 0;
}

#productDetails-fireExtinguisher #contentSectionA p {
	position: absolute;
	top: 576px;
	left: 20px;
}

#productDetails-smokeAlarm #contentSectionA p {
	position: absolute;
	top: 365px;
	left: 20px;
}

#productDetails-fireExtinguisher #contentSectionA {
	background: url(illustrationFireExtinguisher.png) no-repeat;
	width: 359px;
	height: 500px;
}

#productDetails-smokeAlarm #contentSectionA {
	background: url(illustrationSmokeAlarm.png) no-repeat;
	width: 359px;
	height: 300px;
}

#productDetails-smokeAlarm #footerSectionC {
	text-align: right;
	float: right;
	width: 342px;
	padding: 0;
}

#productDetails-smokeAlarm #footer #footerSectionC img {
	margin: 0 20px 0 0;
	clear: none;
	float: none;
}

#productDetails-smokeAlarm #footer #footerSectionC img.lifestyle {
	float: left;
	margin-bottom: 20px;
	margin-right: 0;
}



/* @end */

/* @group Thank You */

#thankYou #contentSectionA,
#thankYou #footerSectionA {
	width: 452px;
	overflow: hidden;
	margin-bottom: 2px;
	padding: 0 428px 0 20px;
	margin-top: 0;
	float: left;
	background: url(thankYou-photo1.jpg) no-repeat 492px 20px;
}

#thankYou #footerSectionA {
	
}

#thankYou #mainContent {
	position: relative;
}

#thankYou #mainText {
	width: 332px;
	margin-left: 120px;
	padding-right: 20px;
	padding-bottom: 100px;
}

#thankYou #contentSectionA img {
	display: inline;
	position: absolute;
	padding: 0;
	margin: 0;
	clear: none;
	float: left;
}

html>body #thankYou #contentSectionA img {
	position: static;
}

#thankYou #contentSectionA ul.jumpMenu {
	width: 352px;
	float: right;
	display: inline;
	margin-right: -20px;
}

#thankYou #contentSectionB {
	padding: 0;
	display: inline;
	margin-bottom: 1px;	
	background-color: #cc0000;
	width: 880px;
	z-index: 9;
	float: left;
}

#thankYou #contentSectionB img.lifestyle {
	position: absolute;
	z-index: 8;
	top: 20px;
	right: 20px;
}

#thankYou #contentSectionB img.product {
	float: left;
	position: absolute;
	margin-top: -17px;
	margin-left: -90px;
}

#thankYou #contentSectionB p {
	margin: 0;
	padding: 0;
}

#thankYou #contentSectionB p.wirelessSetup {
	float: right;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 50px;
}

#thankYou #contentSectionB h3.safetyConfidenceStyle {
	position: absolute;
	float: left;
	background-image: url(productInformation-subheader.gif);
	height: 0;
	width: 234px;
	padding-top: 22px;
	overflow: hidden;
	margin: 70px 0 0 215px;
}

#contentSectionB img {
	float: left;
	margin: 0;
}

/* @group Footer */

#footer {
	padding: 2px 0 0;
	float: left;
	width: 880px;
	background-image: url(footer.png);
	margin-left: 0;
	margin-right: 20px;
	border-style: none;
	display: inline;
	margin-top: 0;
}

#footer h3 {
	font-size: 11px;
	margin-top: 0;
	color: #cc0000;
	margin-bottom: 7px;
	letter-spacing: 1px;
	font-weight: bold;
}

#footer p {
	font-size: 11px;
	padding-top: 0;
	padding-bottom: 7px;
	margin: 0;
}

#thankYou #footerSectionA {
	width: 452px;
	background: url(../base/rampGray.gif) repeat-x;
	padding: 15px 10px 0 30px;
}

#footerSectionA p {
	width: 387px;
	float: right;
}

#footerSectionA img {
	float: left;
	margin-right: 10px;
	margin-bottom: 0;
}

#footerSectionA p img {
	clear: left;
	float: left;
	margin-top: 10px;
	display: inline;
	margin-left: 40px;
}

#footerSectionB {
	float: right;
	width: 370px;
	padding-top: 15px;
}

#footerSectionB img {
	margin-left: 20px;
	float: right;
	margin-bottom: 0;
	margin-top: 10px;
}



/* @end */

#thankYou #mainText {

}

/* @end */

/* @group IDEA Award */

#productAward h2 {
	width: 280px;
}

#productAward h3.subHeader {
	width: 280px;
}

#productAwardMedallion {
	position: absolute;
	top: 20px;
	right: 370px;
}

#productAward #selectView {
	background: url(productAward-heroPhotoShadow.png) no-repeat;
	width: 320px;
	height: 0;
	padding-top: 320px;
	float: right;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 2;
	margin: 0;
	overflow: hidden;
	padding-bottom: 0;
}

#productAward #productImages {
	width: 320px;
	height: 320px;
	float: right;
	z-index: 1;
	margin: 0;
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

#productAward #gallery {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

#productAward #contentSectionA {
	padding-left: 20px;
}

#productAward #mainText {
	padding-left: 90px;
	float: left;
	clear: left;
	width: 420px;
	padding-bottom: 10px;
}

#productAward #contentSectionB {
	float: left;
	background-color: #cc0000;
	position: relative;
	width: 420px;
	padding: 20px 370px 15px 110px;
	z-index: 0;
}

#productAward #contentSectionB h3 {
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 19px;
	margin-top: 0;
	margin-bottom: 7px;
	font-weight: bold;
}

#productAward #contentSectionB p {
	font-size: 12px;
	color: white;
	margin-top: 0;
	margin-bottom: 8px;
}

#productAward #contentSectionB .product {
	float: left;
	position: absolute;
	left: 20px;
	top: -168px;
}

#productAward #footer {
}

#productAward #footerSectionA {
	float: left;
	width: 420px;
	padding-left: 110px;
	display: inline;
	padding-top: 15px;
	padding-bottom: 20px;
}

#productAward #footerSectionA p {
	float: none;
	width: auto;
}

#productAward #footerSectionB {
	float: left;
	width: 317px;
	padding-top: 15px;
	padding-bottom: 20px;
	margin-left: 30px;
	display: inline;
	overflow: hidden;
}

#productAward ul#viewBrowser {
	margin: 0;
	padding: 0;
	float: left;
	width: 324px;
	height: 180px;
	overflow: hidden;
}

#productAward ul#viewBrowser li {
	margin: 0 3px 3px 0;
	padding: 0;
	float: left;
}

#productAward ul#viewBrowser li a {

	float: left;
	border: 1px solid silver;
	cursor: default;
}

#productAward ul#viewBrowser li a:hover{
	border: 1px solid #cc0000;
}

#productAward ul#viewBrowser li img {
	float: left;
	margin: 0;
	padding: 0;
}



/* @end */

