---
layout: frontpage
title: Welcome
---
	<h3>Most recent posts</h3>
	<div class="posts">
	{% for post in site.posts %}
	  <article class="post {{ post.layout }}">
	  	<a href="{{ site.baseurl }}{{ post.url }}">
			{% if post.layout != 'case' %}
	  		<img src="{{ site.media }}/{{ post.avatar }}" class="avatar" alt="" />
	  		{% endif %}
		    <h4>{{ post.title }}</h4>
		    {% if post.layout == 'case' %}
				{% for pic in post.pictures limit:1 %}
					<img src="{{site.media}}/portfolio/{{ pic.url }}" title="{{ pic.caption }}" alt="" />
				{% endfor %}
	          {% for vid in page.videos limit:1 %}
	            <video controls>
	              <source src="{{site.media}}/portfolio/{{ vid.url }}" type="video/mp4" />
	              {{ video.caption }}
	            </video>
	          {% endfor %}
		    {% endif %}
		    <p class="summary">{{ post.summary }}</p>
	    </a>
	  </article>
	{% endfor %}
	</div>

