---
layout: portfolio
title: Portfolio
---
	<div class="posts">
	{% for post in site.posts %}
		{% if post.layout == "case" %}
		<article class="post {{ post.layout }}">
			<a href="{{ site.baseurl }}{{ post.url }}" class="description">
			  	<h4>{{ post.title }}</h4>
			  	<p class="summary">{{ post.summary }}</p>
			</a>
			<figure class="collection pat-gallery">
				<a href="{{ site.baseurl }}{{ post.url }}#gallery" class="pat-inject" data-pat-inject="target: self::element; trigger: autoload-visible">
			    Loading {{ post.title }}…
				</a>
			</figure>
		</article>
		{% endif %}
	{% endfor %}
	</div>