/* @group legend */

ul.legend {
	margin: 0px 0px 10px 0px;
	list-style: none;
	display: block;
	padding: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul.legend li {
	padding-left: 20px;
}

ul.columnGraph {
	display: block;
	float: left;
	text-align: center;
	width: 100%;
	padding: 15px 0px 15px 0px;
	font-size: 10px;
}

ul.columnGraph li {
	padding: 1px 20px 2px 20px;
	display: inline;
	line-height: 20px;
}

ul.pieGraph {
	margin-left: 0px;
	margin-bottom: 40px;
	border: 1px dotted black;
	display: block;
	position: absolute;
	right: 475px;
	left: 0px;
	top: -200px;
	background: white;
	min-height: 130px;
	height: 130px;
	font-size: 9px;
}

html>body ul.pieGraph {
	height: auto;
}

ul.pieGraph li {
	width: 118px;
	float: left;
	display: block;
	line-height: 12px;
	padding-right: 5px;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 6px;
}

html>body ul.pieGraph li {
	width: 90px;
}

ul.legend li.oldResult {
	background: #B3B3B3 url(images/listItemCover.gif) left center;
}

ul.legend li.newResult {
	background: #3438b2 url(images/listItemCover.gif) left center;
}

ul.legend li.plum {
	background: #3438b2 url(images/listItemCover.gif) left center;
}

ul.legend li.blueberry {
	background: #98aeff url(images/listItemCover.gif) left center;
}

ul.legend li.apple {
	background: #3E9235 url(images/listItemCover.gif) left center;
}

ul.legend li.lime {
	background: #ADD716 url(images/listItemCover.gif) left center;
}

ul.legend li.tangerine {
	background: #FF9900 url(images/listItemCover.gif) left center;
}

ul.legend li.chocolate {
	background: #996837 url(images/listItemCover.gif) left center;
}

ul.legend li.avocado {
	background: #97FF8F url(images/listItemCover.gif) left center;
}

ul.legend li.grape {
	background: #C48FFF url(images/listItemCover.gif) left center;
}

ul.legend li.raspberry {
	background: #FF8F8F url(images/listItemCover.gif) left center;
}

ul.legend li.cherry {
	background: #DF0000 url(images/listItemCover.gif) left center;
}

ul.legend li.banana {
	background: #FFEE8F url(images/listItemCover.gif) left center;
}

ul.legend li.peach {
	background: #FFD538 url(images/listItemCover.gif) left center;
}

ul.legend li.strawberry {
	background: #FF0C19 url(images/listItemCover.gif) left center;
}
	
/* @end */

/* @group pieGraph */

div.ifMSIE {
	visibility: visible;
}

html>body div.ifMSIE {
	visibility: hidden;
}

.ifOther {
	visibility: hidden;
}

html>body .ifOther {
	visibility: visible;
}

div#pieGraph {
	width: 420px;
	height: 170px;
	float: left;
	display: block;
	position: relative;
	margin-top: 10px;
}

div#pieGraph div {
	width: 420px;
	height: 170px;
	display: block;
	position: absolute;
}

div.pieGraph-super {
	background: center top no-repeat url(images/pieGraph-super.gif);
	width: 420px;
	height: 180px;
	display: block;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 100;
	visibility: visible;
}

html>body div.pieGraph-super {
	background: center top no-repeat url(images/pieGraph-super.png);
}
	
/* @end */

/* Center Pie Graph for this example */

div#pieGraph {
	margin-left: -210px;
	margin-top: -100px;
	top: 50%;
	left: 50%;
	position: absolute;
}