/* @group Footer */

#footer {
	padding: 2px 0 0;
	float: left;
	width: 860px;
	background-image: url(footer.png);
	margin-left: 20px;
	margin-right: 20px;
	border-style: none;
	border-top: 3px solid #cc0000;
	display: inline;
	margin-top: 1px;
}

#footer h3 {
	font-size: 11px;
	margin-top: 0;
	color: #cc0000;
	margin-bottom: 7px;
	letter-spacing: 1px;
	font-weight: bold;
}

#footer p {
	font-size: 11px;
	padding-top: 0;
	padding-bottom: 7px;
	margin: 0;
}



/* @end */

#contentSectionA {
	width: 505px;
	overflow: hidden;
	margin-top: 0;
	float: left;
	position: relative;
	padding: 0 20px 2px;
}

#contentSectionA #introduction,
#contentSectionA #mainText {
	padding-right: 10px;
	padding-left: 10px;
	width: auto;
}

#eventDescription p {
	margin-bottom: 8px;
	line-height: 14px;
	color: black;
}

#introduction p {
	color: #cc0000;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 0;
}

#introduction h3 {
	color: #cc0000;
	font-weight: bold;
	font-size: 13px;
	margin-top: 0;
	margin-bottom: 10px;
}

#contentSectionB {
	float: right;
	padding: 51px 20px 11px 0;
	margin-top: 20px;
	display: inline;
	width: 335px;
	min-height: 275px;
	background: url(calendar.gif) no-repeat 0 bottom;
	margin-bottom: 2px;
	position: relative;
}

html>body #contentSectionB {
	padding-top: 55px;
}

#eventDescription {
	position: absolute;
	overflow: auto;
	height: 236px;
	padding-top: 10px;
	left: 309px;
	padding-left: 9px;
	padding-right: 9px;
	width: 197px;
	bottom: 2px;
	text-align: left;
}

#eventDescription p {
	
	text-align: left;
}

#eventDescriptions {
	display:none
} 



#contentSectionA img {
	float: left;
	margin: 0;
	z-index: 4;
}

#footerSectionA {
	width: 505px;
	float: left;
	padding-top: 15px;
	padding-bottom: 20px;
}

#footerSectionA .jumpMenu a {
	float: left;
	width: 485px;
}

#footerSectionA p {
	clear: left;
}

#footerSectionA img {
	float: left;
	margin-right: 10px;
	margin-bottom: 0;
}

#footerSectionA p img {
	clear: left;
	float: left;
	margin-top: 10px;
	display: inline;
	margin-left: 40px;
}

#footerSectionB {
	float: right;
	width: 334px;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 1em;
	position: relative;
	margin-bottom: 20px !important;
	display: inline;
}

#upcomingEvents #footerSectionA h3 {
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	margin-bottom: 4px;
}

#upcomingEvents #footerSectionB h3 {
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	text-align: right;
	margin-bottom: 4px;
}

#upcomingEvents #footerSectionB h4 {
	font-size: 11px;
	color: black;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 15px;
	text-align: right;
}

#upcomingEvents #footerSectionB p {
	width: 187px;
	clear: right;
	float: right;
	text-align: right;
	margin-bottom: 12px;
}

#upcomingEvents #footerSectionB p.footer {
	background-color: #cc0000;
	float: right;
	width: 334px;
	clear: right;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
}

#upcomingEvents #footerSectionB p.footer a {
	float: right;
	background-image: url(../base/buttonForward-compact-reversed.gif);
	margin-right: 5px;
	color: white;
}

#footerSectionB img {
	margin-left: 0;
	float: left;
	margin-bottom: 0;
	margin-top: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

#calendar {
	width: 334px;
	border-style: none;
	border-collapse: collapse;
	overflow: hidden;
}

#calendar tbody {
	border-right: 1px solid #bababa;
	border-left: 1px solid #bababa;
	width: 332px;
	overflow: hidden;
}

#calendar td,#calendar th {
	text-align: center;
}

#calendar thead {

}

#calendar thead tr {
	overflow: hidden;
	background: url(headerDays.gif) repeat-y;

}

#calendar thead tr.month {
	border-style: none;
	background-image: none;
}

#calendar thead th  {
	font-size: 12px;
	color: #666666;
	padding-top: 0;
	padding-bottom: 0;
	text-transform: uppercase;
	line-height: 10px;
	font-weight: normal;
	font-style: normal;
}

#calendar tr.month th
 {
	border-right-style: none;
	font-size: 15px;
	padding-top: 7px;
	padding-bottom: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	background: url(upcomingEvents-calendarHeader.gif) no-repeat;
	line-height: normal;
	text-align: center;
}

#calendar tr.month th a.previous {
	background-image: url(buttonBack-subcompact.gif);
	width: 18px;
	height: 0;
	padding-top: 18px;
	overflow: hidden;
	display: inline;
	float: left;
	position: absolute;
	left: 9px;
	top: 62px;
	padding-right: 0;
	padding-left: 0;
}

#calendar tr.month th a.next {
	background-image: url(buttonGo-subcompact.gif);
	width: 18px;
	height: 0;
	padding-top: 18px;
	overflow: hidden;
	display: inline;
	float: right;
	position: absolute;
	top: 62px;
	right: 27px;
	padding-right: 0;
	padding-left: 0;
}

#calendar tr.month th a.previous:hover {
	background-position: -18px 0;
}

#calendar tr.month th a.next:hover {
	background-position: -18px 0;
}

#calendar tr.month th a.previous.disabled {
	display: none;
}

#calendar tr.month th a.next.disabled {
	display: none;
}

#calendar tbody td {
	padding-top: 10px;
	padding-right: 8px;
	font-size: 13px;
	color: #7a7a7a;
	text-align: right;
	border-bottom: 1px solid #efefef;
	vertical-align: top;
	padding-bottom: 19px;
}

#calendar.sixWeeks tbody td {
	padding-bottom: 11px;
}

#calendar tbody td.highlight {
	font-weight: bold;
	color: #cc0000;
}

td.active,
td.active.hover {
	background-color: #ffe066;
}

td.hover {
	background-color: #dfdfdf;
}

/* @group Attic */



/* @end */

