.catalogue,#mainContent {
	height: 394px;
}

#header h2 {
	background-image: url(pageHeader.gif);
}

#mainContent h1 {
	width: 270px;
	height: 0;
	padding-top: 40px;
	float: left;
	display: inline;
	margin: 60px 0 0;
	overflow: hidden;
	background: url(pageTitle.gif) no-repeat right top;
}

.introduction,.wrap1 {
	left: 496px;
	top: 0;	
}

.introduction {
	width: 333px;
	height: 199px;
	position: absolute;
	right: 0;
	color: white;
	overflow: auto;
	z-index: 1;
	padding: 20px 27px 0;
}

p.catalogue a:hover span,
.introduction,
.descriptions,
p.catalogue a.productActive span.productID {
	background-color: #D6CE48;
}

#catalogueImage-1 {
	clear: left;
	position: relative;
	top: 114px;
}

#catalogueImage-2 {
	position: absolute;
	left: 297px;
	top: 0;
}

#catalogueImage-3 {
	position: absolute;
	top: 227px;
	left: 495px;
}

#catalogueImage-4 {
	top: 227px;
	left: 759px;
}

#catalogueImage-5 {
	top: 115px;
	left: 297px;
}

#catalogueImage-6 {
	top: 227px;
	left: 627px;
}

/* @group Product Details */

#mainContent.productDetails .catalogue,#mainContent.productDetails{
	height: 715px;
	padding-bottom: 20px;
}

.descriptions {
	float: right;
	width: 287px;
	height: 505px;
	position: absolute;
	top: 10px;
	color: white;
	overflow: auto;
	z-index: 1;
	padding: 20px 0 0;
	left: 0px;
}

p.productActive a,
.descriptions a:hover {
	background-color: #c1b840;
}

#catalogueImage-A {
	left: 297px;
	top: 10px;
}

#catalogueImage-B {
	left: 297px;
	top: 185px;
}

#catalogueImage-C {
	top: 95px;
	left: 693px;
}

#catalogueImage-D {
	top: 395px;
	left: 297px;
}

#catalogueImage-E {
	top: 395px;
	left: 495px;
}

#catalogueImage-F {
	top: 395px;
	left: 693px;
}

#catalogueImage-G {
	top: 545px;
	left: 0px;
}

#catalogueImage-H {
	left: 297px;
	top: 545px;
}

#catalogueImage-I {
	top: 545px;
	left: 495px;
}

#catalogueImage-J {
	top: 545px;
	left: 693px;
}

/* @end */

