---
layout: portfolio
title: Portfolio
---
	<div class="posts" id="posts">
	{% for post in paginator.posts %}
		{% if post.layout == "case" %}
		<article class="post {{ post.layout }}">
			<a href="{{ site.baseurl }}{{ post.url }}" class="description">
			  	<h4>{{ post.title }}</h4>
			  	<p class="summary">{{ post.summary }}</p>
			</a>
			<figure class="collection">
				<a href="{{ site.baseurl }}{{ post.url }}#contentBody" class="pat-inject" data-pat-inject="target: self::element; trigger: autoload-visible">
			    Loading {{ post.title }}…
				</a>
			</figure>
		</article>
		{% endif %}
	{% endfor %}

	{% if paginator.next_page %}
	<a href="{{ site.baseurl }}/portfolio/page{{paginator.next_page}}#posts" class="next pat-" data-pat-inject="target: self::element; trigger: autoload-visible">Next</a>
	{% endif %}
	</div>