/* @group About Us */

#aboutUs #mainContent {
	padding-right: 20px;
	padding-left: 20px;
	width: 860px;
	padding-bottom: 100px;
}

#aboutUs #contentSectionA {
	float: left;
	clear: left;
	width: 320px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#aboutUs #introduction {
	clear: left;
}

#aboutUs #contentSectionB {
	float: right;
	width: 520px;
	padding-right: 20px;
	margin-right: -20px;
}

#aboutUs #contentSectionB img {
	float: right;
	margin-right: -20px;
	display: inline;
}

#aboutUs #addendumA {
	width: 460px;
	background: url(../base/rampGray.gif) repeat-x 0 2px;
	float: left;
	padding: 20px 20px 140px;
	position: relative;
	border-top: 3px solid #cc0000;
	margin-top: 2px;
}

#aboutUs #addendumA h3 {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}

#aboutUs #addendumA h3 a {
	font-weight: normal;
	font-style: normal;
}

#aboutUs #addendumA p {
	margin-bottom: 10px;
}

#aboutUs #addendumA img {
	float: right;
	margin: -20px -20px 0 20px;
}

/* @end */

/* @group FAQ */

#faq #mainContent {
	padding-right: 20px;
	padding-left: 20px;
	width: 860px;
	padding-bottom: 100px;
}

#faq #contentSectionA {
	display: inline;
}

#faq #introduction {
	clear: left;
}

#faq #contentSectionB {
	float: right;
}

#faq #contentSectionA img {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

#faq .jumpMenu {
	float: left;
	width: 500px;
}

#faq dd {
	position: relative;
}

#faq dd .backToTop {
	float: right;
	text-decoration: none;
	font-weight: bold;
}

#faq dd .backToTop:hover {
	text-decoration: underline;
}

/* @end */



