/* @group Footer */

#footer {
	float: left;
	width: 900px;
	background-image: url(footer.png);
	border-style: none;
	display: inline;
	margin-right: 0;
	margin-left: 0;
	padding: 2px 0 0;
}

#footer h3 {
	font-size: 11px;
	margin-top: 0;
	color: #cc0000;
	margin-bottom: 7px;
	letter-spacing: 1px;
	font-weight: bold;
}

#footer p {
	font-size: 11px;
	padding-top: 0;
	padding-bottom: 7px;
	margin: 0;
}



/* @end */

#contentSectionA {
	padding-top: 20px;
	padding-right: 0;
}

#contentSectionA,
#footerSectionA {
	overflow: hidden;
	margin-bottom: 2px;
	margin-top: 0;
	float: left;
	display: inline;
	padding-left: 20px;
	padding-right: 0;
	padding-bottom: 0;
	width: 505px;
}

#contentSectionA img {
	display: inline;
	padding: 0;
	margin: 0;
	clear: none;
	float: left;
}

#beAHomeHero #contentSectionB {
}

#contentSectionB #introduction {
	float: right;
	padding: 0 20px;
	margin-top: 0;
	display: inline;
	margin-bottom: 1px;
	width: 335px;
	overflow: hidden;
}

#contentSectionB #introduction h2 {
	padding-right: 0;
	width: 360px;
	overflow: hidden;
}

#contentSectionB #introduction p {
}

#contentSectionB #mainText {
	width: 900px;
	float: left;
	padding-top: 20px;
	background: #cc0000 url(beHomeHero-illustration.gif) no-repeat left bottom;
	position: relative;
	height: 129px;
}

html>body #contentSectionB #mainText {
	height: auto;
	min-height: 129px;
}

#contentSectionB #mainText h3 {
	margin-left: 150px;
	color: white;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 10px;
}

#contentSectionB #mainText p {
	margin-left: 200px;
	width: 490px;
	color: white;
}

#contentSectionB #mainText img {
	position: absolute;
	right: 0;
	bottom: 0;
}

#contentSectionB img {
	float: left;
	margin: 0;
}

#footerSectionA {
	float: left;
	padding-top: 15px;
}

#footerSectionA h4 {
	display: block;
}

#footerSectionA h4 sub {
	display: block;
	float: none;
}

#footerSectionA p {
	width: 387px;
	display: block;
}

#footerSectionA img {
	float: left;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: -20px;
}

#footerSectionA p img {
	clear: left;
	float: left;
	margin-top: 10px;
	display: inline;
	margin-left: 40px;
}

#footerSectionB {
	float: right;
	width: 335px;
	display: inline;
	background: url(../base/rampGray.gif) repeat-x;
	padding: 15px 20px 90px;
}

#footerSectionB img {
	margin-left: 20px;
	float: right;
	margin-bottom: 0;
	margin-top: 0;
}

#footer h4 {
	color: #cc0000;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 23px;
}

#footer h4 sub {
	font-size: 14px;
	clear: none;
}

