body {
	background: url(images/body.gif) repeat-x #606060 fixed;
	font-family: 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
}

div#main {
	width: 760px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

div#navigation {
	background: url(images/letterBox.gif);
	width: 760px;
	display: block;
	float: left;
	height: 117px;
}

div#navigation ul#nav {
	float: right;
	margin-top: 10px;
	font-family: 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	display: block;
	overflow: hidden;
	margin-right: 30px;
}

div#navigation ul#nav li {
	display: block;
	float: right;
	border-right: 1px solid silver;
	margin: 0 -1px 0 0;
	padding: 0;
}

div#navigation ul#nav li a {
	color: silver;
	text-decoration: none;
	display: block;
	font-size: 10px;
	width: 100px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

div#navigation ul#nav li a:hover {
	background: silver;
	color: black;
}

div#midSection {
	background: url(images/appendix.gif) no-repeat center bottom;
	display: block;
	float: left;
	padding-bottom: 117px;
	width: 760px;
}

a#companyLogo {
	display: none;
}

div#content {
	display: block;
	float: left;
	width: 760px;
	background: url(images/midSection.gif) repeat-y center bottom;
}

div#content h1 {
	font-size: 18px;
	font-weight: bold;
	width: 510px;
	margin: 20px 150px 15px 30px;
	position: relative;
}

div#content h1 select {
	font-size: 10px;
	position: absolute;
	right: 0;
	float: right;
	top: 1px;
}

div#primaryColumn {
	display: block;
	float: left;
	width: 510px;
	margin-left: 30px;
}

div#primaryColumn p {
	font-size: 10px;
	line-height: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
}

div#secondaryColumn {
	display: block;
	margin-right: 20px;
	width: 150px;
	float: right;
	padding-bottom: 100px;
}

div#secondaryColumn div {
	border-bottom: 1px solid #4CBDEB;
	margin-bottom: 10px;
	padding-bottom: 10px;
}	


div#secondaryColumn div h3 {
	font-size: 9px;
	color: #ffd65a;
	font-weight: bold;
	padding: 0;
	margin-top: 2px;
	margin-bottom: 2px;
}

div#secondaryColumn div div {
	border-bottom-style: none;
	float: left;
	display: block;
}

div#secondaryColumn div div.col1of3,div#secondaryColumn div div.col2of3,div#secondaryColumn div div.col3of3 {
	width: 50px;
	padding: 0;
	margin: 0;
}

div#secondaryColumn div div.col1of3 label,div#secondaryColumn div div.col2of3 label,div#secondaryColumn div div.col3of3 label {
	width: 50px;
	text-align: left;
}

/*<group=login>*/

form#login {
	width: 250px;
	height: 175px;
	display: block;
	margin-left: -125px;
	margin-top: -100px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(images/login.gif) no-repeat center center;
	padding-top: 15px;
}

form#login label {
	width: 200px;
	display: block;
	font-size: 10px;
	text-align: left;
	color: #ffd65a;
	white-space: nowrap;
	float: left;
	margin-left: 24px;
	margin-right: 26px;
	margin-top: 10px;
	font-weight: bold;
}

form#login input {
	float: right;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 20px;
	margin-top: 35px;
	background: url(images/buttonLogin.gif) no-repeat right center;
	border-style: none;
	color: #ffd65a;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 2px;
	font-style: italic;
	cursor: pointer;
	display: block;
	padding-right: 35px;
}

form#login label input {
	padding: 2px;
	font-size: 10px;
	border: 1px solid #0C2577;
	background: #DBF3FB none;
	width: 100%;
	float: left;
	margin-top: 1px;
	cursor: text;
	color: black;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	letter-spacing: 0;
}
	
/*</group>*/

/*<group=flexButtons>*/

a.buttonGo-c12 {
	background: url(images/buttonGo-c12.png) no-repeat center center;
	width: 12px;
	height: 0;
	padding-top: 12px;
	display: block;
	overflow: hidden;
}

a.buttonGo-c12l {
	background-image: url(images/buttonGo-c12.png);
	background-repeat: no-repeat;
	background-position: right center;
	display: block;
	overflow: hidden;
	text-decoration: none;
	color: black;
	padding-right: 14px;
}

a.buttonGo-c12l:hover {
	background-image: url(images/buttonGo-c12-over.png);
	display: block;
	overflow: hidden;
	text-decoration: underline;
	color: black;
	padding-right: 14px;
}

td.currency a.buttonGo-c12l {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;	
	padding-right: 0px;
	margin-left: -8px;
}
	
/*</group>*/

/*<group=widgetTyreSpeed>*/

div#widgetTyreSpeed label {
	width: 50px;
	margin: 0;
}

div#widgetTyreSpeed label input {
}
	
/*</group>*/

/*<group=widgetFilter>*/

div#widgetFilter {
	display: block;
	float: left;
	width: 150px;
}

div#widgetFilter input {
	border-style: none;
	background: url(images/search.gif) no-repeat center center;
	color: black;
	font-size: 10px;
	width: 115px;
	padding: 6px 10px 6px 25px;
	margin-top: 8px;
}

div#widgetFilter input:focus {
	background: url(images/search-over.gif) no-repeat center center;
}
	
/*</group>*/

/*<group=marginalComment>*/

div#secondaryColumn div#marginalComment {
	border-bottom-style: none;
}

div#marginalComment p {
	font-size: 9px;
	color: #DBF3FB;
}
	
/*</group>*/

/*<group=widgetSelectionList>*/

div.selectionList {
	display: block;
	float: left;
	width: 150px;
}

div.selectionList ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

div.selectionList ul li {
	margin: 0;
	padding: 0;
}

div.selectionList ul li a {
	margin: 0;
	color: white;
	text-decoration: none;
	font-weight: normal;
	padding-top: 2px;
	padding-bottom: 2px;
	display: block;
	font-size: 9px;
}

div.selectionList ul li a:hover {
	text-decoration: underline;
}

div.selectionList label {
	color: white;
	font-size: 9px;
	width: 150px;
	display: block;
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.selectionList label:hover {
	cursor: pointer;
	background: #009EE3;
}

div.selectionList label input {
	width: 10px;
	height: 10px;
	float: left;
	margin: 0 5px 0 0;
}

div.selectionList select {
	width: 100%;
	float: left;
	font-size: 9px;
	background: #0089DD;
	color: white;
	padding-left: 0;
	margin: 0;
	border: 1px solid #0C2577;
}

div.selectionList select option {
	background: #DBF3FB;
	color: black;
}


	
/*</group>*/

/*<group=default table>*/

table {
	width: 100%;
	font: 9px 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
}

table thead {
	border-bottom: 1px solid #d9d9d9;
}

table thead th {
	vertical-align: bottom;
	padding-bottom: 2px;
	padding-right: 10px;
}

table thead th.potentialGain {
	border-right: 5px solid white;
}

table tfoot {
	border-top: 3px double #d9d9d9;
	font-weight: bold;
}

table tfoot td.potentialGain {
	border-right: 5px solid white;
}

table tbody th {
	width: 90px;
}

table tbody th a {
	text-decoration: none;
	color: black;
	display: block;
}

table tbody th a:hover {
	text-decoration: underline;
}

table tbody td {
	vertical-align: top;
	border-left: 1px solid #D9D9D9;
	padding: 2px 10px 2px 2px;
}

table tbody td select {
	font-size: 9px;
	border-style: none;
	width: 100%;
	background: #dbf3fb;
}

table tbody td.buttons {
	border-left-style: none;
	width: 50px;
}

table tbody td.buttons a {
	margin-top: -1px;
}

.currency {
	text-align: right;
	padding: 2px 2px 2px 10px;
}

td.currency {
	white-space: nowrap;
}

table tbody td.odd {
	background: #edf3fe;
	white-space: nowrap;
}

table tbody td.potentialGain {
	border-right: 5px double #4CBDEB;
}

table thead th.countryDE {
	background-image: url(images/countryDE.gif);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-left: 16px;
}

table thead th.countryFR {
	background-image: url(images/countryFR.gif);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-left: 16px;
}

table thead th.countryNL {
	background-image: url(images/countryNL.gif);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-left: 16px;
}

table thead th.countryUK {
	background-image: url(images/countryUK.gif);
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-left: 16px;
}	

/*</group>*/