

/*<group=buttons-c16>*/

/*<group=buttonAdd>*/

.buttonAdd-c16 {
	padding-top: 16px;
	width: 16px;
    	overflow: hidden;
	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */

	background: url(images/flexButtons-c16/buttonAdd.gif) no-repeat;
	float: left;
}
	html>body .buttonAdd-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonAdd.png);
}

.buttonAdd-c16:hover {
	background: url(images/flexButtons-c16/buttonAdd.gif) no-repeat;
}
	html>body .buttonAdd-c16:hover{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonAdd-over.png);
}
	
/*</group>*/

/*<group=buttonGo>*/

.buttonGo-c16 {
	padding-top: 16px;
	width: 16px;
    	overflow: hidden;
	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */

	background: url(images/flexButtons-c16/buttonGo.gif) no-repeat;
	float: left;
}
	html>body .buttonGo-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonGo.png);
}

.buttonGo-c16:hover {
	background: url(images/flexButtons-c16/buttonGo.gif) no-repeat;
}
	html>body .buttonGo-c16:hover{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonGo-over.png);
}
	
/*</group>*/

/*<group=buttonOK>*/

.buttonOK-c16 {
	padding-top: 16px;
	width: 16px;
    	overflow: hidden;	
    	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */

	background: url(images/flexButtons-c16/buttonOK.gif) no-repeat;
	display: block;
	float: left;
}
html>body .buttonOK-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonOK.png);
}

.buttonOK-c16:hover {
	background: url(images/flexButtons-c16/buttonOK.gif) no-repeat;
}
	html>body .buttonOK-c16:hover{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonOK-over.png);
}
	
/*</group>*/

/*<group=buttonCancel>*/

.buttonCancel-c16 {
	padding-top: 16px;
	width:  16px;
    	overflow: hidden;
	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */
	background: url(images/flexButtons-c16/buttonCancel.gif) no-repeat;
	float: left;
}
html>body .buttonCancel-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonCancel.png);
}

.buttonCancel-c16:hover {
	background: url(images/flexButtons-c16/buttonCancel.gif) no-repeat;
}

html>body .buttonCancel-c16:hover{ /*Child Selector Hack, hides this from ie*/
	background: url(images/flexButtons-c16/buttonCancel-over.png);
}
	
/*</group>*/

/*<group=buttonInfo>*/

.buttonInfo-c16 {
	padding-top: 16px;
	width:  16px;
    	overflow: hidden;
	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */
    	background: url(images/flexButtons-c16/buttonInfo.gif) no-repeat;
	display: block;
	float: left;
}
html>body .buttonInfo-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonInfo.png);
}

.buttonInfo-c16:hover {
	background: url(images/flexButtons-c16/buttonInfo.gif) no-repeat;
}
	html>body .buttonInfo-c16:hover{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonInfo-over.png);
}
	
/*</group>*/

/*<group=buttonRemove>*/

.buttonRemove-c16 {
	padding-top: 16px;
	width:  16px;
    	overflow: hidden;
	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */
	background: url(images/flexButtons-c16/buttonRemove.gif) no-repeat;
	float: left;
}
	html>body .buttonRemove-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonRemove.png);
}

.buttonRemove-c16:hover {
	background: url(images/flexButtons-c16/buttonRemove.gif) no-repeat;
}
html>body .buttonRemove-c16:hover{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonRemove-over.png);
}
	
/*</group>*/

/*<group=buttonShop>*/

.buttonShop-c16{
	padding-top: 16px;
	width:  16px;
    	overflow: hidden;
	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */
    	background: url(images/flexButtons-c16/buttonShop.gif) no-repeat;
	float: left;
}
	html>body .buttonShop-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonShop.png);
}

.buttonShop-c16:hover {
	background: url(images/flexButtons-c16/buttonShop.gif) no-repeat;
}

html>body .buttonShop-c16:hover{ /*Child Selector Hack, hides this from ie*/
	background: url(images/flexButtons-c16/buttonShop-over.png);
}
	
/*</group>*/

/*<group=buttonFind>*/

.buttonFind-c16 {
	padding-top: 16px;
	width:  16px;
    	overflow: hidden;
	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */
	background: url(images/flexButtons-c16/buttonFind.gif) no-repeat;
	float: right;
}
	html>body .buttonFind-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonFind.png);
}

.buttonFind-c16:hover {
	background: url(images/flexButtons-c16/buttonFind.gif) no-repeat;
}
html>body .buttonFind-c16:hover{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonFind-over.png);
}
	
/*</group>*/

/*<group=buttonBack>*/

.buttonBack-c16 {
	padding-top: 16px;
	width: 16px;
    	overflow: hidden;
	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */

	background: url(images/flexButtons-c16/buttonBack.gif) no-repeat;
	float: left;
}
	html>body .buttonBack-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonBack.png);
}

.buttonBack-c16:hover {
	background: url(images/flexButtons-c16/buttonBack.gif) no-repeat;
}
	html>body .buttonBack-c16:hover{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonBack-over.png);
}
	
/*</group>*/

/*<group=buttonForward>*/

.buttonForward-c16 {
	padding-top: 16px;
	width: 16px;
    	overflow: hidden;
	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */

	background: url(images/flexButtons-c16/buttonForward.gif) no-repeat;
	float: left;
}
	html>body .buttonForward-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonForward.png);
}

.buttonForward-c16:hover {
	background: url(images/flexButtons-c16/buttonForward.gif) no-repeat;
}
	html>body .buttonForward-c16:hover{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonForward-over.png);
}
	
/*</group>*/

/*<group=buttonEdit>*/

.buttonEdit-c16 {
	padding-top: 16px;
	width: 16px;
    	overflow: hidden;
	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */

	background: url(images/flexButtons-c16/buttonEdit.gif) no-repeat;
	float: left;
}
	html>body .buttonEdit-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonEdit.png);
}

.buttonEdit-c16:hover {
	background: url(images/flexButtons-c16/buttonEdit.gif) no-repeat;
}
	html>body .buttonEdit-c16:hover{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonEdit-over.png);
}
	
/*</group>*/

/*<group=buttonPreview>*/

.buttonPreview-c16 {
	padding-top: 16px;
	width: 16px;
    	overflow: hidden;
	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */

	background: url(images/flexButtons-c16/buttonPreview.gif) no-repeat;
	float: left;
}
	html>body .buttonPreview-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonPreview.png);
}

.buttonPreview-c16:hover {
	background: url(images/flexButtons-c16/buttonPreview.gif) no-repeat;
}
	html>body .buttonPreview-c16:hover{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonPreview-over.png);
}
	
/*</group>*/

/*<group=buttonCalendar>*/

.buttonCalendar-c16 {
	padding-top: 16px;
	width: 16px;
    	overflow: hidden;
	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */

	background: url(images/flexButtons-c16/buttonCalendar.gif) no-repeat;
}
	html>body .buttonCalendar-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonCalendar.png);
}

.buttonCalendar-c16:hover {
	background: url(images/flexButtons-c16/buttonCalendar.gif) no-repeat;
}
	html>body .buttonCalendar-c16:hover{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonCalendar-over.png);
}
	
/*</group>*/

/*<group=buttonBill>*/

.buttonBill-c16 {
	padding-top: 16px;
	width: 16px;
    	overflow: hidden;
	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */

	background: url(images/flexButtons-c16/buttonBill.gif) no-repeat;
}
	html>body .buttonBill-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonBill.png);
}

.buttonBill-c16:hover {
	background: url(images/flexButtons-c16/buttonBill.gif) no-repeat;
}
	html>body .buttonBill-c16:hover{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonBill-over.png);
}
	
/*</group>*/

/*<group=buttonActivities>*/

.buttonActivities-c16 {
	padding-top: 16px;
	width: 16px;
    	overflow: hidden;
	height: 0px !important; /* for most browsers */
	height /**/:16px; /* for IE5.5's bad box model */

	background: url(images/flexButtons-c16/buttonActivities.gif) no-repeat;
}
	html>body .buttonActivities-c16{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonActivities.png);
}

.buttonActivities-c16:hover {
	background: url(images/flexButtons-c16/buttonActivities.gif) no-repeat;
}
	html>body .buttonActivities-c16:hover{ /*Child Selector Hack, hides this from ie*/
background: url(images/flexButtons-c16/buttonActivities-over.png);
}
	
/*</group>*/
	
/*</group>*/

/*<group=buttons-c16l>*/

/*<group=buttonLink-c16l>*/

.buttonLink-c16l {
	background: url(images/flexButtons-c16l/buttonLink-c16l.gif) no-repeat center center;
	display: block;
	text-decoration: none;
	color: white;
	width: 125px;
	float: left;
	font-size: 10px;
	padding-bottom: 0px;
	padding-top: 1px;
	text-align: center;
	font-style: italic;
	height: 16px;
}

html>body .buttonLink-c16l {
	background: url(images/flexButtons-c16l/buttonLink-c16l.png) no-repeat center center;
}

.buttonLink-c16l:hover {
	background: url(images/flexButtons-c16l/buttonLink-c16l-over.gif) no-repeat center center;
}

html>body .buttonLink-c16l:hover {
	background: url(images/flexButtons-c16l/buttonLink-c16l-over.png) no-repeat center center;
}
	
/*</group>*/

/*<group=buttonEdit-c16l>*/

.buttonEdit-c16l {
	background: url(images/flexButtons-c16l/buttonEdit-c16l.png) no-repeat center center;
	display: block;
	text-decoration: none;
	color: white;
	width: 125px;
	float: left;
	font-size: 10px;
	padding-bottom: 0px;
	padding-top: 1px;
	text-align: center;
	font-style: italic;
	height: 16px;
}

html>body .buttonEdit-c16l {
	background: url(images/flexButtons-c16l/buttonEdit-c16l.png) no-repeat center center;
}

.buttonEdit-c16l:hover {
	background: url(images/flexButtons-c16l/buttonEdit-c16l-over.png) no-repeat center center;
}

html>body .buttonEdit-c16l:hover {
	background: url(images/flexButtons-c16l/buttonEdit-c16l-over.png) no-repeat center center;
}
	
/*</group>*/
	
/*</group>*/