---
layout: shell
template: case
---

      <div id="prologue">
        <h1>
          {{ page.title }}
        </h1>
        <p class="byline">
          Cornelis G.A. Kolbach, {{ page.date | date: "%B, %e, %Y" }}
        </p>
        <p class="introduction">
          {{ page.summary }}
        </p>
      </div>
      <div id="contentBody">
          <div class="gallery pat-gallery">
            {% for pic in page.pictures limit:1 %}
              <a id="main-image" href="{{site.media}}/portfolio/{{ pic.url }}">
                <figure>
                  <img src="{{site.media}}/portfolio/{{ pic.url }}" title="{{ pic.caption }}" alt="image" />
                  <figcaption>
                    {{ pic.caption }}
                  </figcaption>
                </figure>
              </a>
            {% endfor %}

            {% for pic in page.pictures offset: 1 %}
                <a href="{{site.media}}/portfolio/{{ pic.url }}">
                  <figure>
                    <img src="{{site.media}}/portfolio/{{ pic.url }}" title="{{ pic.caption }}" alt="image" />
                    <figcaption>
                      {{ pic.caption }}
                    </figcaption>
                  </figure>
                </a>
            {% endfor %}

            <div id="thumbs" hidden>
            {% for pic in page.pictures offset: 1 %}
                <a href="{{site.media}}/portfolio/{{ pic.url }}">
                    <img width="830" src="http://proxy.boxresizer.com/convert?resize=71x40&source=http://cornae.github.com{{ site.media }}/portfolio/{{ pic.url }}" title="{{ pic.caption }}" alt="image" />
                </a>
            {% endfor %}
            </div>

            {% for vid in page.videos %}
            <video controls>
              <source src="{{site.media}}/portfolio/{{ vid.url }}" type="video/mp4" />
              {{ video.caption }}
            </video>
            {% endfor %}
          </div> 
        {{ content }}
	  </div>

      <div id="disqus_thread"></div>
      <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'cornae'; // required: replace example with your forum shortname
  
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      