---
layout: shell
template: contact
---

      <div id="prologue">
        <h1>
          {{ page.title }}
        </h1>
        <p class="introduction">
        	As a consultant Human Factors &amp; Web Technologies and CTO at <a href="http://www.informaat.nl">Informaat IPE</a>, Cornelis  is on an ongoing mission to help businesses to design products their  clients really like to use. With his knowledge about fields as  diverse as interior design, visual design, interaction design and front end programming, he supports multi disciplinary teams to reach optimal results and to  reach those fast.</p>
      </div>
      <div id="contentBody">
        {{ content }}
	  </div>