---
layout: shell
template: portfolio
---

      <div id="prologue">
        <h1>
          Portfolio
        </h1>
      </div>
      <div id="contentBody">
        {{ content }}
<!--     	<div class="posts">
		{% for post in site.posts %}
			{% if post.layout == 'case' %}
			<article class="post">
				<a href="{{ site.baseurl }}{{ post.url }}">
					<img src="{{ site.media }}/{{ post.avatar }}" class="avatar" alt="" />
				    <h2>{{ post.date | date: "%d %B %Y" }}: {{ post.title }}</h2>
				    <p class="summary">{{ post.summary }}</p>
				</a>
			</article>
			{% endif %}
		{% endfor %}

		{% for pic in page.pictures %}
			 <a  href="pic.url">
			   [![image]({{ pic.url }})](#) {{ pic.label }}
			 </a>
		{% endfor %}
		</div> -->
	  </div>