#header {
	background: url(background-outdoorInspiration.jpg) no-repeat;
	height: 349px;
	width: 932px;
	float: right;
	margin-left: -100px;
	border-bottom: none;
}

#header h1 {
	margin: 0;
	position: absolute;
	top: 188px;
	z-index: 1;
	left: 43px;
}

#header h1 a {
	background: url(logoMainPage-hamptonBay.gif) no-repeat;
	width: 101px;
	height: 0;
	padding-top: 63px;
	float: left;
	display: inline;
	overflow: hidden;
}

#header h2 {
	background-image: url(pageHeader.gif);
	width: 243px;
	padding-top: 78px;
	height: 0;
	margin-top: 200px;
	margin-left: 170px;
	float: left;
	display: inline;
}

#mainContent h1 {
	background-image: url(pageTitle-folian.gif);
	width: 107px;
	height: 0;
	float: left;
	display: inline;
	overflow: hidden;
	padding-top: 33px;
	top: 46px;
	left: 82px;
	position: absolute;
	margin: 0;
}

#header p {
	background-image: url(pageSubHeader.gif);
	width: 659px;
	height: 0;
	padding-top: 72px;
	display: inline;
	overflow: hidden;
	margin-top: 275px;
}

#secondaryNavigation {
	margin-top: 20px;
	margin-bottom: 30px;
	float: left;
}

#secondaryNavigation ul {
	border-top-style: none;
	padding-bottom: 0;
	height: 181px;
	border-top: 3px solid #e6e3d4;
}

html>body #secondaryNavigation ul {
	height: auto;
}

#secondaryNavigation ul li {
	width: 213px;
	background: none no-repeat;
	margin-bottom: 0;
	padding-bottom: 0;
	height: auto;
}

#secondaryNavigation ul li a,
#secondaryNavigation ul li a:hover {
	padding-top: 159px;
	float: left;
	width: 213px;
	border-style: none;
	height: auto;
	overflow: visible;
	text-align: center;
	text-decoration: none;
	color: #465d53;
	letter-spacing: 2px;
	padding-bottom: 8px;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 0;
}

html>body #secondaryNavigation ul li a,
html>body #secondaryNavigation ul li a:hover {
	font-weight: normal;
	font-style: normal;
}

#secondaryNavigation ul li a:hover {
	color: white;
}

#secondaryNavigation ul li#benedetto a {
	background-image: url(navPhotoMain-benedetto.jpg) ;
	background-repeat: no-repeat;
}

#secondaryNavigation ul li#benedetto a:hover

 {
	background-color: #eabc66;
}

#secondaryNavigation ul li#folian a {
	background-image: url(navPhotoMain-folian.jpg);
	background-repeat: no-repeat;
}

#secondaryNavigation ul li#folian a:hover

 {
	background-color: #E5A599;
	
}

#secondaryNavigation ul li#kampar a {
	background-image: url(navPhotoMain-kampar.jpg);
	background-repeat: no-repeat;
}

#secondaryNavigation ul li#kampar a:hover

 {
	background-color: #8BB7D7;
}

#secondaryNavigation ul li#calabria a {
	background-image: url(navPhotoMain-calabria.jpg);
	background-repeat: no-repeat;
}

#secondaryNavigation ul li#calabria a:hover

 {
	background-color: #D49659;
}

