body {
	background: no-repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

div#main {
	left: 50%;
	top: 50%;
	width: 780px;
	margin-left: -390px;
	height: 410px;
	margin-top: -190px;
	position: absolute;
	background: url(images/body.gif) no-repeat;
}

/*<group=columnGraph>*/

div#columnGraph {
	width: 745px;
	background: url(images/backdropColumnGraph.gif) repeat;
	display: block;
	float:
	height: 360px;
	top: 15px;
	position: relative;
}

div.columnGraphScale p {
	font-size: 9px;
	margin: 0px;
	height: 10px;
	width: 25px;
	text-align: right;
	display: block;
	padding: 0px 10px 0px 0px;
	overflow: hidden;
	color: gray;
	line-height: 9px;
	background: url(images/body.gif) no-repeat left center;
}

div.columnGraphScale p b {
	color: black;
}

div.columnGraphColumn {
	width: 60px;
	display: block;
	z-index: 0;
	background: url(images/columnGraphColumnCentre-base.gif);
	padding: 0px 0px 0;
	position: absolute;
	z-index: 1;
}

html>body div.columnGraphColumn {
	background: url(images/columnGraphColumnCentre-base.png) no-repeat center bottom;
}

a.oldResult {
	width: 38px;
	display: block;
	float: left;
	position: absolute;
	z-index: 1;
	font-size: 9px;
	text-decoration: none;
	background: url(images/columGraphColumSkin.gif) repeat-y center top;
	text-align: center;
	padding: 0px;
	margin: 0px 11px 0;
	color: black;
	bottom: 0;
}

html>body a.oldResult {
	background: url(images/columGraphColumSkin.png) repeat-y center top;
}

a.newResult {
	width: 26px;
	display: block;
	float: left;
	background: url(images/columnGraphColumnCentre-new.gif) no-repeat center top;
	position: absolute;
	z-index: 2;
	font-size: 9px;
	color: black;
	text-decoration: none;
	text-align: center;
	margin: 0px 17px 0;
	font-weight: bold;
	bottom: 0;
	padding: 0;
}

html>body a.newResult {
	background: url(images/columnGraphColumnCentre-new.png) center top;
}

a.plum {
	width: 26px;
	display: block;
	float: left;
	background: url(images/columnGraphColumnCentre-plum.gif) no-repeat center top;
	height: 34px;
	position: absolute;
	z-index: 4;
	font-size: 9px;
	color: black;
	text-decoration: none;
	text-align: center;
	visibility: visible;
	overflow: visible;
	margin: 0px 17px 0px 17px;
	padding: 0px;
	bottom: -10px;
}
html>body a.plum {
	background: url(images/columnGraphColumnCentre-plum.png) center top;
}

a.apple {
	width: 26px;
	display: block;
	float: left;
	background: url(images/columnGraphColumnCentre-apple.gif) no-repeat center top;
	height: 34px;
	position: absolute;
	z-index: 5;
	font-size: 9px;
	color: black;
	text-decoration: none;
	text-align: center;
	visibility: visible;
	overflow: visible;
	margin: 0px 17px 0px 17px;
	padding: 0px;
	bottom: -10px;
}

html>body a.apple {
	background: url(images/columnGraphColumnCentre-apple.png) center top no-repeat;
}

a.grape {
	width: 26px;
	display: block;
	float: left;
	background: url(images/columnGraphColumnCentre-grape.gif) no-repeat center top;
	height: 34px;
	position: absolute;
	z-index: 5;
	font-size: 9px;
	color: black;
	text-decoration: none;
	text-align: center;
	visibility: visible;
	overflow: visible;
	margin: 0px 17px 0px 17px;
	padding: 0px;
	bottom: -10px;
}

html>body a.grape {
	background: url(images/columnGraphColumnCentre-grape.png) center top no-repeat;
}

a.lime {
	width: 26px;
	display: block;
	float: left;
	background: url(images/columnGraphColumnCentre-lime.gif) no-repeat center top;
	height: 34px;
	position: absolute;
	z-index: 5;
	font-size: 9px;
	color: black;
	text-decoration: none;
	text-align: center;
	visibility: visible;
	overflow: visible;
	margin: 0px 17px 0px 17px;
	padding: 0px;
	bottom: -10px;
}

html>body a.lime {
	background: url(images/columnGraphColumnCentre-lime.png) center top no-repeat;
}

a.tangerine {
	width: 26px;
	display: block;
	float: left;
	background: url(images/columnGraphColumnCentre-tangerine.gif) no-repeat center top;
	height: 34px;
	position: absolute;
	z-index: 5;
	font-size: 9px;
	color: black;
	text-decoration: none;
	text-align: center;
	visibility: visible;
	overflow: visible;
	margin: 0px 17px 0px 17px;
	padding: 0px;
	bottom: -10px;
}

html>body a.tangerine {
	background: url(images/columnGraphColumnCentre-tangerine.png) center top no-repeat;
}

a.cherry {
	width: 26px;
	display: block;
	float: left;
	background: url(images/columnGraphColumnCentre-cherry.gif) no-repeat center top;
	height: 34px;
	position: absolute;
	z-index: 5;
	font-size: 9px;
	color: black;
	text-decoration: none;
	text-align: center;
	visibility: visible;
	overflow: visible;
	margin: 0px 17px 0px 17px;
	padding: 0px;
	bottom: -10px;
}

html>body a.cherry {
	background: url(images/columnGraphColumnCentre-cherry.png) center top no-repeat;
}

a.chocolate {
	width: 26px;
	display: block;
	float: left;
	background: url(images/columnGraphColumnCentre-chocolate.gif) no-repeat center top;
	height: 34px;
	position: absolute;
	z-index: 5;
	font-size: 9px;
	color: black;
	text-decoration: none;
	text-align: center;
	visibility: visible;
	overflow: visible;
	margin: 0px 17px 0px 17px;
	padding: 0px;
	bottom: -10px;
}

html>body a.chocolate {
	background: url(images/columnGraphColumnCentre-chocolate.png) center top no-repeat;
}

a.banana {
	width: 26px;
	display: block;
	float: left;
	background: url(images/columnGraphColumnCentre-banana.gif) no-repeat center top;
	height: 34px;
	position: absolute;
	z-index: 5;
	font-size: 9px;
	color: black;
	text-decoration: none;
	text-align: center;
	visibility: visible;
	overflow: visible;
	margin: 0px 17px 0px 17px;
	padding: 0px;
	bottom: -10px;
}

html>body a.banana {
	background: url(images/columnGraphColumnCentre-banana.png) center top no-repeat;
}

a.blueberry {
	width: 26px;
	display: block;
	float: left;
	background: url(images/columnGraphColumnCentre-blueberry.gif) no-repeat center top;
	height: 34px;
	position: absolute;
	z-index: 5;
	font-size: 9px;
	color: black;
	text-decoration: none;
	text-align: center;
	visibility: visible;
	overflow: visible;
	margin: 0px 17px 0px 17px;
	padding: 0px;
	bottom: -10px;
}

html>body a.blueberry {
	background: url(images/columnGraphColumnCentre-blueberry.png) center top no-repeat;
}

a.avocado {
	width: 26px;
	display: block;
	float: left;
	background: url(images/columnGraphColumnCentre-avocado.gif) no-repeat center top;
	height: 34px;
	position: absolute;
	z-index: 5;
	font-size: 9px;
	color: black;
	text-decoration: none;
	text-align: center;
	visibility: visible;
	overflow: visible;
	margin: 0px 17px 0px 17px;
	padding: 0px;
	bottom: -10px;
}

html>body a.avocado {
	background: url(images/columnGraphColumnCentre-avocado.png) center top no-repeat;
}

a.peach {
	width: 26px;
	display: block;
	float: left;
	background: url(images/columnGraphColumnCentre-peach.gif) no-repeat center top;
	height: 34px;
	position: absolute;
	z-index: 5;
	font-size: 9px;
	color: black;
	text-decoration: none;
	text-align: center;
	visibility: visible;
	overflow: visible;
	margin: 0px 17px 0px 17px;
	padding: 0px;
	bottom: -10px;
}

html>body a.peach {
	background: url(images/columnGraphColumnCentre-peach.png) center top no-repeat;
}

a.strawberry {
	width: 26px;
	display: block;
	float: left;
	background: url(images/columnGraphColumnCentre-strawberry.gif) no-repeat center top;
	height: 34px;
	position: absolute;
	z-index: 5;
	font-size: 9px;
	color: black;
	text-decoration: none;
	text-align: center;
	visibility: visible;
	overflow: visible;
	margin: 0px 17px 0px 17px;
	padding: 0px;
	bottom: -10px;
}

html>body a.strawberry {
	background: url(images/columnGraphColumnCentre-strawberry.png) center top no-repeat;
}

div.columnGraphColumnLid {
	background: transparent url(images/columnGraphLid.gif) no-repeat center bottom;
	width: 60px;
	float: left;
	display: block;
	margin: 0px;
	padding: 0px;
	position: absolute;
	z-index: 99;
	height: 30px;
	bottom: -10px;
}

html>body div.columnGraphColumnLid {
	background: url(images/columnGraphLid.png) no-repeat center bottom;
}

div.title {
	font: 9px Verdana, Arial, Helvetica, sans-serif;
	display: block;
	float: left;
	width: 60px;
	position: absolute;
	z-index: 100;
	padding: 0px;
	text-align: center;
	color: gray;
	margin: 0;
	bottom: -12px;
}
	
/*</group>*/

/*<group=legend>*/

div#legend {
	width: 780px;
	position: absolute;
	top: -25px;
}

div#legend p.scale {
	text-align: right;
	margin: 0;
	float: right;
	font-size: 9px;
}

div#legend ul {
	list-style: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	float: left;
	font-size: 9px;
	margin: 0;
	padding-left: 0;
}

div#legend ul li {
	display: inline;
	padding: 2px 14px 2px 16px;
}

div#legend ul  li.oldResult {
	background: #B3B3B3 url(images/listItemCover.gif) left center;
}

div#legend ul  li.newResult {
	background: #add716 url(images/listItemCover.gif) left center;
}

ul.legend li.plum {
	background: #3438b2 url(images/listItemCover.gif) left center;
}

ul.legend li.blueberry {
	background: #98aeff url(images/listItemCover.gif) left center;
}

ul.legend li.apple {
	background: #3E9235 url(images/listItemCover.gif) left center;
}

ul.legend li.lime {
	background: #ADD716 url(images/listItemCover.gif) left center;
}

ul.legend li.tangerine {
	background: #FF9900 url(images/listItemCover.gif) left center;
}

ul.legend li.chocolate {
	background: #996837 url(images/listItemCover.gif) left center;
}

ul.legend li.avocado {
	background: #97FF8F url(images/listItemCover.gif) left center;
}

ul.legend li.grape {
	background: #C48FFF url(images/listItemCover.gif) left center;
}

ul.legend li.raspberry {
	background: #FF8F8F url(images/listItemCover.gif) left center;
}

ul.legend li.cherry {
	background: #DF0000 url(images/listItemCover.gif) left center;
}

ul.legend li.banana {
	background: #FFEE8F url(images/listItemCover.gif) left center;
}

ul.legend li.peach {
	background: #FFD538 url(images/listItemCover.gif) left center;
}

ul.legend li.strawberry {
	background: #FF0C19 url(images/listItemCover.gif) left center;
	
/*</group>*/